body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #007bff; /* Primary blue header background color */
    color: #fff; /* White header text color */
    text-align: center;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .car {
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #fff; /* White background for cars */
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow for cards */
    transition: background-color 0.5s ease; /* Smooth transition for background color change */
  }
  
  .collision {
    background-color: #ffc107; /* Yellow background for collided car */
  }  
  /* h1 {
    color :#007bff;
  } */